<div class="nested-fields cook-add">
		<%= attachment_image_tag f.object, :image,size:"160x150", format:'jpeg', fallback: "no_image.jpg", :class => "cook_preview" %>
	<%= f.attachment_field :image, class: "cook_image_add" %>
	<%= f.text_area :body, placeholder: "作り方を記入" %><br>
	<%= link_to_remove_association '削除', f %>
</div>

