<div class="nested-fields cooking">
<div class="cook">
<% cook = Cook.new %>
<%= attachment_image_tag @cook, :image,size:"160x150", format:'jpeg', fallback: "no_image.jpg" %>
<%= f.attachment_field :image %>
<%= f.text_area :body, placeholder: "作り方を記入" %><br>
<%= link_to_remove_association '削除', f %>
</div>
</div>