<!-- nested-fieldsクラスでjqeryに認識させる -->
<div class="nested-fields">
	<%= f.text_field :name, placeholder: "(例) 鶏肉" , :class => "" %>
	<%= f.text_field :puantity, placeholder: "(例)　1kg" , :class => ""%>
	<%= link_to_remove_association '削除', f , :class=> ""%>
</div>