<div class="top_image">
	<div class="box">
	</div>
	<div class="about_box">
	<div class="top_title">
		<h1 class="about">MyRecipeShelfへようこそ！！</h1>
		<p class="about_text">MyRecipeShelfでは自分用にレシピをまとめたり、本棚に並べ見返すことができます。<br>
			記録したレシピは公開したり非公開にしたりと使い方は自由！<br>
			他にも他の人たちの公開レシピを見たりすることができます。</p>
	</div>
	</div>
	<div class="about_box">
	<div class="top_title">
		<h1 class="about">使い方</h1>
		<p class="about_text">MyRecipeShelfでは会員登録をしていただくことで全ての機能をお使いいただけます。<br>
		公開レシピにはコメントをしたり、お気に入り登録ができ、<br>お気に入りしたレシピはお気に入り本棚で簡単に観覧ができます。<br>
		また、簡単ログインでは登録不要でレシピの観覧をしていただけます。<br>
		※レシピの記録やMY本棚、コメントなどの機能を利用するには会員登録が必要です。</p>
	</div>
	</div>

	<div class="staut_button">
	<%= link_to "新規登録", new_user_registration_path, class:"btn staut" %>
	<%= link_to "ログイン＆簡単ログイン", new_user_session_path, class:"btn staut" %>
	</div>
</div>