/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 85%;
}

header {
	background:  #998d7a;
	border-radius: 0;
	height: 75px;
	width: 100%;
	border-bottom: 5px white solid;
}

.logo {
	width: 80px;
	margin-left: 15px;
	margin-top: 10px;
	display: inline-block;
}

.nav-style {
	width: 620px;
	float: right;
}

.dropmenu {
	background-color: #998d7a;
	padding: 0;
	margin: 0;
}

.dropmenu li {
	width: 150px;
	display: inline-block;
	list-style: none;
	position: relative;
}

.dropmenu a {
	background-color: #998d7a;
	color: white;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 70px;
	line-height: 70px;
}

.dropmenu a:hover {
	background-color: #665e52;
}

.dropmenu ul {
	display: none;
	margin: 0px;
    padding: 0px;
    position: absolute;
}

.dropmenu ul li {
	border-top: 1px solid pink;
}

.dropmenu li:hover ul {
	display: block;
}

.body {
	margin-top: 30px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.title {
	margin-top: 20px;
	margin-bottom: 50px;
}

.top {
	margin-bottom: 30px;
}

.recipe-image {
	float: left;
}

.image_add {
	width: 300px;
}

#mterial {
	width: 400px;
	display: inline-block;
	margin-left: 60px;
	padding-bottom: 5px;
}

.add-mterial {
	margin-left: 300px;
}

.amount {
	margin-left: 220px;
	margin-bottom: 20px;
}

.cook-add {
	display: inline-block;
	float: left;
	margin-bottom: 20px;
	margin-right: 50px;
}

.top-show {
	margin-bottom: 50px;
}

.title-show {
	text-align: center;
}

.image-show {
	display: inline-block;
	float: left;
	margin-left: 50px;
}

.mterial-show {
	display: inline-block;
	float: left;
	margin-left: 250px;
}

.mterial-name {
	width: 200px;
}

.show-table {
	width: 400px;
}

.cook-show {
	display: inline-block;
	float: left;
	margin-bottom: 20px;
	margin-right: 100px;
}

.cook-body {
	margin-top: 10px;
}

.is_valid-show {
	display: inline-block;
	width: 20%;
}

.genre-show {
	width: 40%;
	display: inline-block;
}

.recipe-box {
	width: 100%;
	height: 200px;
	border: solid 1px #2f4f4f;
}

.book-area {
	width: 30%;
	display: inline-block;
	float: left;
}

.book {
	width: 124px;
	margin-top: 20px;
	margin-left: 30px;
	border: solid 2px #a9a9a9;
}

.book-recently {
	width: 124px;
	margin-left: 30px;
	border: solid 2px #a9a9a9;
	display: inline-block;
	float: left;
}

.recipe-label {
	height: 45px;
	border-top: solid 1px #a9a9a9;
	line-height: 45px;
	text-align: center;
	background:linear-gradient(135deg, #ffe9a8 0%,#ff884c 100%);
	margin: 0;
}

.recipe-text {
	width: 50%;
	display: inline-block;
	float: left;
}

.recipe-name-index {
	margin-top: 20px;
	text-align: center;

}

.explanation-index{
	text-align: center;
}

.recipe-link {
	display: inline-block;
	float: right;
	line-height: 200px;
	margin-right: 10px;
}

.scroll {
  overflow: auto;
  white-space: nowrap;
}

.my-shelf {
	margin: 0 auto;
	background-image: url(shelf1.png);
	background-size: cover;
	width: 950px;
	height: 810px;
}

.shelf-book {
	width: 124px;
	margin-top: 30px;
	margin-left: 90px;
	margin-right: 0px;
	margin-bottom: 15px;
	border: solid 2px #a9a9a9;
	float: left;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .5);
}

.home-box {
	display: inline-block;
	width: 250px;
	height: 260px;
}

.home-like {
	display: inline-block;
}

.home-link {
	widht: 100%;
	height: 260px;
}

.home-explanation {
	height: 60px;
}

.top_image {
	background-image: url(2034703.jpg);
	background-size: cover;
	background-attachment: fixed;
	position:relative;
}

.box {
	height: 50px;
}

.about_box {
	width: 100%;
	height: 500px;
}

.top_title {
	width: 70%;
	height: 400px;
	background-color: #ffffff;
	opacity: 0.9;
	border-radius: 50px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.staut_button {
	width: 408px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.staut {
	background-color: #998d7a;
	color: white;
	width: 200px;
	border: 2px white solid;
}

.about {
	line-height: 90px;
}

.about_text {
	line-height: 40px;
	font-size: 20px;
}