@font-face {
  font-family: "azuki";
  src: url('azuku.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rounded_a";
  src: url('founded-l-mplus-1c-bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rounded_b";
  src: url('founded-l-mplus-2p-light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rounded_c";
  src: url('founded-l-mplus-2p-regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kanaria";
  src: url('komadori-mini.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}